<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
<p><a href="{% url 'logout' %}">logout</a></p>
    <form id="message_form" action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="button" id="clickme" value="Кликми" />

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}

{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'settings.js' %}" type="text/javascript"></script>

<p id="message_result"></p>
<script>
  $(document).ready(function(){
    $("#clickme").click(function () {
      $.post('/message/', $("#message_form").serialize(), function(data){
                    $('#message_result').text(data["result"]);
                })
    });});
</script>
</form>
</body>
</html>



